{% for tale in tales %}
	<tr>
		<td class="left aligned ui header">
			{% if tale.category == 1 %}
				<i class="book icon"></i>
			{% else %}
				<i class="lock icon"></i>
			{% endif %}
		</td>
		<td>
			<p>
				{% if tale.title|length > 40 %}
					<a href="/tale/{{tale.id}}/0">{{"%.40s"|format(tale.title)}}...</a>
				{% else %}
					<a href="/tale/{{tale.id}}/0">{{tale.title}}</a>
				{% endif %}
			</p>
			<p>
				{% if tale.description|length > 40 %}
					{{"%.40s"|format(tale.description)}}...&nbsp;
				{% else %}
					{{tale.description}}&nbsp;
				{% endif %}
			</p>
		</td>
		<td class="right aligned">
			{{tale.stars}} <i class="star icon">
		</td>
	</tr>
{% endfor %}

{% for a in range(0, 5 - tales|length) %}
	<tr>
		<td></td>
		<td>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
		</td>
		<td></td>
	</tr>
{% endfor %}