{% for tale in participated_tales %}
	{% if loop.index < 6 %}
		<tr>
	{% else %}
		<tr style="display: none;">
	{% endif %}

		<td class="left aligned ui header">
			{% if tale.category == 1 %}
				<i class="book icon"></i>
			{% else %}
				<i class="lock icon"></i>
			{% endif %}
		</td>
		<td>
			<p class="tale-text" style="display: none;">
				{{"%.40s"|format(tale.creator.username + " / " + tale.title)|lower}} {{"%.40s"|format(tale.description)|lower}}
			</p>
			<p>
				{% if tale.title|length + " / "|length + tale.creator.username|length > 40 %}
					<a href="/tale/{{tale.id}}/0">
						{{"%.40s"|format(tale.creator.username + " / " + tale.title)}}...
					</a>
				{% else %}
					<a href="/tale/{{tale.id}}/0">{{tale.creator.username + " / " + tale.title}}</a>
				{% endif %}
			</p>
			<p>
				{% if tale.description|length > 40 %}
					{{"%.40s"|format(tale.description)}}...&nbsp;
				{% else %}
					{{tale.description}}&nbsp;
				{% endif %}
			</p>
		</td>
		<td class="right aligned">
			{{tale.stars}} <i class="star icon">
		</td>
	</tr>
{% endfor %}

{% if participated_tales|length <= 5 %}
	{% for a in range(0, 5 - participated_tales|length) %}
		<tr>
			<td></td>
			<td>
				<p class="tale-text" style="display: none;"></p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</td>
			<td></td>
		</tr>
	{% endfor %}
{% else %}
	{% for a in range(0, 5 - (participated_tales|length % 5)) %}
		<tr style="display: none;">
			<td></td>
			<td>
				<p class="tale-text" style="display: none;"></p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</td>
			<td></td>
		</tr>
	{% endfor %}
{% endif %}