<div class="ui grid">
	<div class="doubling two column row">
		<div class="column">
			<a href="/profile/{{user.username}}">
				<img src="/avatars/{{user.id}}" alt="avatar picture" title="Avatar Picture" class="ui small image">
			</a>
		</div>
		<div class="column">
			<h3 style="margin-bottom: 0; margin-top: 0;">{{user.name}}</h3>
			<h5 style="margin-top: 0; color: #666;">{{user.username}}</h5>

			{% if user.is_email_visible is sameas true %}
				<p><a href="mailto:{{user.email}}"><i class="mail icon"></i>{{user.email}}</a></p>
			{% endif %}
			<p><i class="wait icon"></i>{{_('JOINED_ON')}} {{user.signup_date}}</p>
		</div>
	</div>
</div>