<form action="/profile/edit/{{user.id}}/" method="post" enctype="multipart/form-data" class="ui form">
	<h4 class="ui header">{{_('PUBLIC_PROFILE')}}</h4>

	<div class="field">
		<label class="label">{{_('AVATAR_IMAGE')}}</label>
		<div style="display: none;">
			<input type="file" name="profile-edit-avatar" tabindex="1">
		</div>
		<button id="button-choose-file" class="ui button">{{_('ADD_AVATAR')}}</button>
		<div id="label-choose-file"></div>
	</div>

	<div class="required field">
		<label class="label">{{_('NAME')}}</label>

		<div class="ui left icon input">
			<input type="text" name="profile-edit-name" value="{{user.name}}" tabindex="2">
			<i class="user icon"></i>
		</div>
	</div>

	<div class="required field">
		<label class="label">Username</label>

		<div class="ui left icon input">
			<input type="text" name="profile-edit-username" value="{{user.username}}" disabled>
			<i class="user icon"></i>
		</div>
	</div>

	<div class="required field">
		<label class="label">Email</label>

		<div class="ui left icon input">
			<input type="email" name="profile-edit-email" value="{{user.email}}" tabindex="3">
			<i class="mail icon"></i>
		</div>
	</div>

	<div class="required field">
		<label class="label">{{_('PUBLIC_EMAIL')}}?</label>
		<select size="1" name="profile-edit-email-visibility" tabindex="4">
			{% if user.is_email_visible == true %}
				<option value="false">{{_('NO_SHOW')}}</option>
				<option value="true" selected>{{_('SHOW')}}</option>
			{% else %}
				<option value="false" selected>{{_('NO_SHOW')}}</option>
				<option value="true">{{_('SHOW')}}</option>
			{% endif %}
		</select>
	</div>

	<div class="field">
		<label class="label">{{_('BIOGRAPHY')}}</label>
		<textarea cols="50" rows="5" name="profile-edit-biography" tabindex="5">{% autoescape false %}{{user.biography}}{% endautoescape %}</textarea>
	</div>

	<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
	<button type="submit" name="profile-edit-submit" class="ui green button" tabindex="6">{{_('UPDATE_PROFILE')}}</button>
</form>