{% if tales.amount_of_results == 0 %}
	<div class="ui segment center aligned">
		<h2 class="ui header message">
			<i class="search icon"></i>
			{{_('NO_RESULT_TALES')}} '{{content}}'
		</h2>
	</div>
{% else %}
	<div class="sort">
		<h2 class="amount-results">
			{% if tales.results|length == 1 %}
				{{_('WAS_FOUND')}} 1 {{_('RESULT')}}
			{% else %}
				{{_('WERE_FOUND')}} {{tales.results|length}} {{_('RESULTS')}}
			{% endif %}
		</h2>

		<select size="1" id="sort-bar">
			{% if sort_value == 1 %}
				<option value="1" selected>{{_('SORT_BEST_MATCH')}}</option>
				<option value="2">{{_('SORT_MORE_STARS')}}</option>
				<option value="3">{{_('SORT_FEWEST_STARS')}}</option>
				<option value="4">{{_('SORT_RECENTLY_UPDATED')}}</option>
				<option value="5">{{_('SORT_LEAST_RECENTLY_UPDATED')}}</option>
			{% elif sort_value == 2 %}
				<option value="1">{{_('SORT_BEST_MATCH')}}</option>
				<option value="2" selected>{{_('SORT_MORE_STARS')}}</option>
				<option value="3">{{_('SORT_FEWEST_STARS')}}</option>
				<option value="4">{{_('SORT_RECENTLY_UPDATED')}}</option>
				<option value="5">{{_('SORT_LEAST_RECENTLY_UPDATED')}}</option>
			{% elif sort_value == 3 %}
				<option value="1">{{_('SORT_BEST_MATCH')}}</option>
				<option value="2">{{_('SORT_MORE_STARS')}}</option>
				<option value="3" selected>{{_('SORT_FEWEST_STARS')}}</option>
				<option value="4">{{_('SORT_RECENTLY_UPDATED')}}</option>
				<option value="5">{{_('SORT_LEAST_RECENTLY_UPDATED')}}</option>
			{% elif sort_value == 4 %}
				<option value="1">{{_('SORT_BEST_MATCH')}}</option>
				<option value="2">{{_('SORT_MORE_STARS')}}</option>
				<option value="3">{{_('SORT_FEWEST_STARS')}}</option>
				<option value="4" selected>{{_('SORT_RECENTLY_UPDATED')}}</option>
				<option value="5">{{_('SORT_LEAST_RECENTLY_UPDATED')}}</option>
			{% else %}
				<option value="1">{{_('SORT_BEST_MATCH')}}</option>
				<option value="2">{{_('SORT_MORE_STARS')}}</option>
				<option value="3">{{_('SORT_FEWEST_STARS')}}</option>
				<option value="4">{{_('SORT_RECENTLY_UPDATED')}}</option>
				<option value="5" selected>{{_('SORT_LEAST_RECENTLY_UPDATED')}}</option>
			{% endif %}
		</select>
	</div>

	<div class="ui divider"></div>

	<div class="results">
		{% for tale in tales.results %}
			<div class="ui two column grid">
				<div class="fourteen wide column">
					<h3 class="ui header">
						<a href="/profile/{{tale.creator_username}}/">{{tale.creator_username}}</a>
						/
						<a href="/tale/{{tale.id}}/0">{{tale.title}}</a>
					</h3>
					<div>{{tale.description}}</div>

					<br>
					<div>
						<i>
							{% if tale.last_update == false %}
								{{_('WAITING_FIRST_CHAPTER')}}
							{% else %}
								{{_('LAST_UPDATED_ON')}} {{tale.last_update}}
							{% endif %}
						</i>
					</div>

					{% for genre in tale.genres %}
						<a href="/search/?c={{content}}&amp;g={{genre.id}}" class="search-tales ui mini tag label">
							{{_(genre.type)}}
						</a>
					{% endfor %}
				</div>
				<div class="two wide column">
					<h3>
						<i class="star icon"></i>
						{{tale.stars}}
					</h3>
				</div>
			</div>
			<div class="ui divider"></div>
		{% endfor %}
	</div>
{% endif %}