<div class="upper-bar ui stackable three column grid">
	<div class="ten wide column">
		<h3>
			{% if tale.category == 1 %}
				<i class="book icon"></i>
			{% else %}
				<i class="lock icon"></i>
			{% endif %}
			<a href="/profile/{{creator.username}}">
				{{creator.username}}
			</a>
			/
			<a href="/tale/{{tale.id}}/0">
				{{tale.title}}
			</a>
			<h4 class="sub header disappear">
				{{_('LICENSE')}}:
				<a href="{{license.url}}" target="_blank">{{license.name}}</a>
			</h4>
		</h3>
	</div>

	<div class="six wide column">
		{% if this_user_is_following is sameas true %}
			<form action="/unfollow/{{tale.id}}/" method="post" class="form-unfollow" style="display: inline !important">
				<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
				<button type="submit" class="ui button">
					{{tale.followers}}
					<i class="unhide icon"></i>
					{{_('UNWATCH')}}
				</button>
			</form>
		{% else %}
			<form action="/follow/{{tale.id}}/" method="post" class="form-follow" style="display: inline !important">
				<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
				<button type="submit" class="ui button">
					{{tale.followers}}
					<i class="unhide icon"></i>
					{{_('WATCH')}}
				</button>
			</form>
		{% endif %}

		{% if this_user_gave_star is sameas true %}
			<form action="/unstar/{{tale.id}}/" method="post" class="form-unstar" style="display: inline !important">
				<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
				<button type="submit" class="ui button">
					{{tale.stars}}
					<i class="star icon"></i>
					{{_('UNSTAR')}}
				</button>
			</form>
		{% else %}
			<form action="/star/{{tale.id}}/" method="post" class="form-star" style="display: inline !important">
				<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
				<button type="submit" class="ui button">
					{{tale.stars}}
					<i class="star icon"></i>
					{{_('STAR')}}
				</button>
			</form>
		{% endif %}
	</div>
</div>

<style>
@media only all and (max-width: 1000px) {
	.disappear {
		display: none !important;
	}
}
</style>