<div class="upper-bar ui stackable three column grid">
	<div class="ten wide column">
		<h3>
			{% if tale.category == 1 %}
				<i class="book icon"></i>
			{% else %}
				<i class="lock icon"></i>
			{% endif %}
			<a href="/profile/{{creator.username}}">
				{{creator.username}}
			</a>
			/
			<a href="/tale/{{tale.id}}/0">
				{{tale.title}}
			</a>
			<h4 class="sub header">
				{{_('LICENSE')}}:
				<a href="{{license.url}}" target="_blank">{{license.name}}</a>
			</h4>
		</h3>
	</div>

	<!--
	<div class="ui segment">
		{% for genre in tale.genres %}
			<a href="/search_tales/?g={{genre.id}}">{{_(genre.type)}}</a>
		{% endfor %}
	</div>
	-->

	<div class="six wide column">
		<div class="ui stackable two column grid">
			{% if this_user_is_following is sameas true %}
				<form action="/unfollow/{{tale.id}}/" method="post" class="form-unfollow column">
					<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
					<button type="submit" class="ui button"><i class="unhide icon"></i>{{_('UNWATCH')}} {{tale.followers}}</button>
				</form>
			{% else %}
				<form action="/follow/{{tale.id}}/" method="post" class="form-follow column">
					<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
					<button type="submit" class="ui button"><i class="unhide icon"></i>{{_('WATCH')}} {{tale.followers}}</button>
				</form>
			{% endif %}

			{% if this_user_gave_star is sameas true %}
				<form action="/unstar/{{tale.id}}/" method="post" class="form-unstar column">
					<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
					<button type="submit" class="ui button"><i class="star icon"></i>{{_('UNSTAR')}} {{tale.stars}}</button>
				</form>
			{% else %}
				<form action="/star/{{tale.id}}/" method="post" class="form-star column">
					<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
					<button type="submit" class="ui button"><i class="star icon"></i>{{_('STAR')}} {{tale.stars}}</button>
				</form>
			{% endif %}
		</div>
	</div>
</div>