<div>
	<br>
	<br>
	{% for tale in top10_daily_tales %}
		<div class="ui segment">
			<p>
				<sup>
					{{_('TALE_BY')}}
					<a href="/profile/{{tale.creator.username}}">{{tale.creator.username}}</a>
				</sup>
			</p>
			<p>
				<h4 style="display: inline;">
					{{tale.stars_today}} <i class="star icon"></i>
				</h4>
				<a href="/tale/{{tale.id}}/0">{{tale.title}}</a>
			</p>
			<p class="ui stackable two column grid">
				<span class="column">
					<sub>
						{% if tale.chapters == 1 %}
							<i class="book icon"></i>{{tale.chapters}} {{_('CHAPTER')}}
						{% else %}
							<i class="book icon"></i>{{tale.chapters}} {{_('CHAPTERS')}}
						{% endif %}
					</sub>
					<sub>
						{% if tale.stars == 1 %}
							<i class="star icon"></i>{{tale.stars}} {{_('STAR')}}
						{% else %}
							<i class="star icon"></i>{{tale.stars}} {{_('STARS')}}
						{% endif %}
					</sub>
				</span>
				<span class="column">
					<sub>
						{% if tale.last_update != false %}
							<i class="wait icon"></i>
							{{_('LAST_UPDATED_ON')}} <span class="utc-time">{{tale.last_update}}</span>
						{% else %}
							<i class="wait icon"></i>{{_('WAITING_FIRST_CHAPTER')}}
						{% endif %}
					</sub>
				</span>
			</p>
		</div>
	{% endfor %}
</div>