<form action="/update_password/{{user_id}}/" method="post" class="ui form">
	<h4 class="ui header">{{_('CHANGE_PASSWORD')}}</h4>

	<div class="required field">
		<label class="label">{{_('OLD_PASSWORD')}}</label>

		<div class="ui left icon input">
			<input type="password" name="update-old-password">
			<i class="lock icon"></i>
		</div>
	</div>

	<div class="required field">
		<label class="label">{{_('NEW_PASSWORD')}}</label>

		<div class="ui right labeled left icon input">
			<i class="lock icon"></i>
			<input type="password" name="update-new-password">
			<div class="password-strength ui yellow label">
				{{_('TOO_WEAK')}}
			</div>
		</div>
	</div>

	<div class="required field">
		<label class="label">{{_('CONFIRM_NEW_PASSWORD')}}</label>

		<div class="ui left icon input">
			<input type="password" name="update-confirm-new-password">
			<i class="lock icon"></i>
		</div>
	</div>
	
	<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
	<button type="submit" name="update-password-submit" class="ui green button">
		{{_('UPDATE_PASSWORD')}}
	</button>
	<a href="/password_reset">({{_('FORGOT_MY_PASSWORD')}})</a>
</form>