.right-bar {
	float: right;
}

.upper-bar p, .upper-bar form {
	display: inline;
}

.upper-bar button {
	margin-left: 40px;
}

.options-bar p{
	display: inline-block;
	padding: 30px;
}

.label, .main button {
	display: block;
	margin-top: 10px;
}

.content input[type='text'] {
	width: 80%;
}

.main button {
	margin-left: 48%;
}