.side-bar, .results {
	float: left;
	width: 50%;
	padding-top: 50px;
}

.per, .per-genres {
	width: 60%;
	padding-top: 50px;
}

.side-bar a, .side-bar span {
	display: block;
}

.side-bar span {
	padding-bottom: 10px;
}

.sort {
	display: inline;
	margin-left: 50px;
}

.result {
	padding-top: 30px;
}

.title, .description, .update {
	display: block;
}