.content {
	min-height: 600px;
}

.side-bar, .profile {
	float: left;
	width: 50%;
	padding-top: 20px;
}

.profile input {
	width: 80%;
	text-align: center;
}

.label, button {
	display: block;
	margin-top: 15px;
}

button {
	margin-left: 44%;
}