{% extends "layout.html" %}

{% block title %}
	{{_('CHANGE_PASSWORD')}} - {{_('SITE_LOGO')}}
{% endblock %}

{% block content %}
<div class="change-password ui stackable three column grid form">
	<div class="column"></div>

	<form action="/change_password/" method="post" class="column">
		<h1 class="ui dividing header">{{_('CHANGE_PASSWORD')}}</h1>

		<input type="hidden" name="change-password-random-token" value="{{random_token}}">

		<div class="required field">
			<label class="label">{{_('NEW_PASSWORD')}}</label>

			<div class="ui left icon input">
				<input type="password" name="change-password-new-password">
				<i class="lock icon"></i>
			</div>
		</div>

		<div class="required field">
			<label class="label">{{_('CONFIRM_NEW_PASSWORD')}}</label>

			<div class="ui left icon input">
				<input type="password" name="change-password-confirm-new-password">
				<i class="lock icon"></i>
			</div>
		</div>

		<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
		<button type="submit" name="change-password-submit" class="ui button">
			{{_('UPDATE_PASSWORD')}}
		</button>
	</form>

	<div class="column"></div>
</div>

<script>
$(document).ready(function() {
	var $change_password_form = $('.change-password form');

	$change_password_form.form({
		password: {
			identifier: 'change-password-new-password',
			rules: my_rules.password
		},
		repeat_password: {
			identifier: 'change-password-confirm-new-password',
			rules: my_rules.password
		}
	},
	{
		inline: true,
		onSuccess: function() {
			var input_password = $(this).find('input[name="change-password-new-password"]')[0];
			var password = input_password.value;
			var hash = new jsSHA(password, 'TEXT').getHash('SHA-256', 'HEX');

			input_password.value = hash;

			var input_password_confirm_password = $(this).find('input[name="change-password-confirm-new-password"]')[0];
			password = input_password_confirm_password.value;
			hash = new jsSHA(password, 'TEXT').getHash('SHA-256', 'HEX');

			input_password_confirm_password.value = hash;

			var $change_password_submit = $('button[name="change-password-submit"]');
			$change_password_submit.addClass('disabled loading');
			$.ajax({
				type: this.method,
				url: this.action,
				data: new FormData(this),
				processData: false,
				contentType: false,
				success: function(data) {
					window.location = data.url;
				},
				error: function(xhr, status, error) {
					$change_password_submit.removeClass('disabled loading');
					append_messages_list(xhr.responseJSON.error_list, $change_password_form.find('h1'));
				}
			});

			return false;
		}
	});
});
</script>

{% endblock %}