{% extends "layout.html" %}

{% block title %}
	{{_('CHANGE_PASSWORD')}} - {{_('SITE_LOGO')}}
{% endblock %}

{% block content %}
<div class="change-password ui stackable three column grid form">
	<div class="column"></div>

	<form action="/change_password/" method="post" class="column">
		<h1 class="ui dividing header">{{_('CHANGE_PASSWORD')}}</h1>

		<input type="hidden" name="change-password-random-token" value="{{random_token}}">

		<div class="required field">
			<label class="label">{{_('NEW_PASSWORD')}}</label>

			<div class="ui left icon input">
				<input type="password" name="change-password-new-password">
				<i class="lock icon"></i>
			</div>
		</div>

		<div class="required field">
			<label class="label">{{_('CONFIRM_NEW_PASSWORD')}}</label>

			<div class="ui left icon input">
				<input type="password" name="change-password-confirm-new-password">
				<i class="lock icon"></i>
			</div>
		</div>

		<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
		<button type="submit" name="change-password-submit" class="ui button">{{_('UPDATE_PASSWORD')}}</button>
	</form>

	<div class="column"></div>
</div>
{% endblock %}