{% extends "layout.html" %}

{% block title %}
	{{_('CONTRIBUTION_REQUESTS')}} - {{creator.username}}/{{tale.title}}
{% endblock %}

{% block content %}

{% include "fragment/tale_upper_bar.html" %}

<div class="main">
	<div class="ui stackable two column grid">
		<div class="contribution-requests thirteen wide column">
			<div class="ui top attached tabular menu">
				<a class="o-c-r active item">{{_('OPEN_CONTRIBUTION_REQUESTS')}}</a>
				<a class="c-c-r item">{{_('CLOSED_CONTRIBUTION_REQUESTS')}}</a>
			</div>
		</div>

		<div class="three wide column">
			{% include "fragment/tale_right_bar.html" %}
		</div>
	</div>
</div>

{% endblock %}