{% extends "layout.html" %}

{% block title %}
	{{contribution.title}} {{_('BY')}} {{contribution.user_username}} - {{_('CONTRIBUTION_REQUEST')}} - {{creator.username}}/{{tale.title}}
{% endblock %}

{% block content %}

{% include "fragment/tale_upper_bar.html" %}

<div class="main">
	<div class="ui stackable two column grid">
		<div class="thirteen wide column justified">
			<div class="contribution-request">
				{% if contribution.was_closed == false %}
					<span class="ui yellow ribbon label">{{_('OPEN')}}</span>
				{% else %}
					<span class="ui black ribbon label">{{_('CLOSED')}}</span>
					{% if contribution.was_accepted == true %}
						<span class="ui green label"><i class="checkmark icon"></i>{{_('ACCEPTED')}}</span>
					{% else %}
						<span class="ui red label"><i class="remove icon"></i>{{_('REFUSED')}}</span>
					{% endif %}
				{% endif %}

				<h5>
					{{_('CHAPTER')}} {{contribution.number}} - {{contribution.datetime}} {{_('BY')}}
					<a href="/profile/{{contribution.user_username}}">{{contribution.user_username}}</a>
				</h5>

				<div class="ui modal" id="fullscreen">
					<h1 class="ui header center aligned">
						{{contribution.title}}
					</h1>

					{% autoescape false %}
						{{contribution.content}}
					{% endautoescape %}
				</div>

				<div class="ui segment">
					<h1 class="ui header center aligned">
						{{contribution.title}}
						<a class="ui green tag label" id="to-fullscreen">{{_('FULLSCREEN')}}</a>
					</h1>

					{% autoescape false %}
						{{contribution.content}}
					{% endautoescape %}

					{% if user_logged_id == contribution.user_id and not contribution.was_closed %}
						<p class="ui yellow label">
							<a href="/update_contribution_request/{{contribution.id}}">
								{{_('UPDATE_CONTRIBUTION_REQUEST')}}
							</a>
						</p>
					{% endif %}
				</div>
			</div>
		</div>

		<div class="three wide column">
			{% include "fragment/tale_right_bar.html" %}
		</div>
	</div>
</div>

{% endblock %}