{% extends "layout.html" %}

{% block title %}
	{{_('CONTRIBUTION_REQUESTS')}} - {{creator.username}}/{{tale.title}}
{% endblock %}

{% block content %}

{% include "fragment/tale_upper_bar.html" %}

<div class="main">
	<div class="ui stackable two column grid">
		<div id="contribution-requests" class="thirteen wide column">
			<div class="ui top attached tabular menu">
				<a id="o-c-r" class="active item">{{_('OPEN_CONTRIBUTION_REQUESTS')}}</a>
				<a id="c-c-r" class="item">{{_('CLOSED_CONTRIBUTION_REQUESTS')}}</a>
			</div>

			<div id="open-contribution-requests">
				{% include "fragment/open_contribution_requests.html" %}
			</div>

			<div id="closed-contribution-requests" style="display: none;">
				{% include "fragment/closed_contribution_requests.html" %}
			</div>
		</div>

		<div class="three wide column">
			{% include "fragment/tale_right_bar.html" %}
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	var $o_c_r = $('#o-c-r');
	var $c_c_r = $('#c-c-r');
	var $open_contribution_requests = $('#open-contribution-requests');
	var $closed_contribution_requests = $('#closed-contribution-requests');

	$o_c_r.on('click', function(event) {
		$o_c_r.addClass('active');
		$c_c_r.removeClass('active');

		$open_contribution_requests.css('display', 'block');
		$closed_contribution_requests.css('display', 'none');
	});

	$c_c_r.on('click', function(event) {
		$c_c_r.addClass('active');
		$o_c_r.removeClass('active');

		$closed_contribution_requests.css('display', 'block');
		$open_contribution_requests.css('display', 'none');
	});
});
</script>

{% endblock %}