{% extends "layout.html" %}

{% block title %}
	{{_('SITE_LOGO')}}
{% endblock %}

{% block site_header %}
<div class="ui black inverted segment">
	<h1 class="ui header">
		{{_('SITE_HEADER')}}
		<sup>
			<a href="https://en.wikipedia.org/wiki/Addventure" title="{{_('NOT_WRONG')}}" target="_blank">*</a>
		</sup>
		?
	</h1>

	<div class="ui big red label">
		<a href="/contact">{{_('HELP_ME_OUT')}}</a>
	</div>

	<h2 class="ui header">
		{{_('SITE_PRESENTATION')}}
		<br>
		<sub><a href="/faq">{{_('MORE_ABOUT')}}</a></sub>
	</h2>
</div>
{% endblock %}

{% block content %}
<div class="ui grid">
	<div class="doubling two column row">
		<div class="column top-tales">
			<label class="ui label black"><i class="star icon"></i>{{_('TOP_10')}}: </label>
			<button class="ui button" id="top-today">{{_('TOP_10_TODAY')}}</button>
			<button class="ui button" id="top-all">{{_('TOP_10_ALL')}}</button>
		</div>

		<div class="column">
			<h2 class="ui header">{{_('TOP_10_GENRES')}}</h2>
			<div class="ui two column grid">
				{% for genre in genres %}
					<div class="column">
						<a href="/search_tales/?g={{genre.id}}" class="ui tag label">{{_(genre.type)}}</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function() {
	var $top_all = $('#top-all');
	var $top_today = $('#top-today');
	var $top_tales = $('.top-tales');

	$top_all.on('click', function(event) {
		$top_today.removeClass('active');
		$top_all.addClass('active');

		$.ajax({
			type: 'get',
			url: '/get_ten_best_tales',
			data: {
				timezone_offset: (new Date()).getTimezoneOffset()
			},
			datatype: 'json',
			success: function(data) {
				$top_tales.find('div').remove();
				$top_tales.append(data);
			},
			error: function(xhr, status, error) {
				console.log(xhr);
			}
		});
	});

	$top_today.on('click', function(event) {
		$top_all.removeClass('active');
		$top_today.addClass('active');

		$.ajax({
			type: 'get',
			url: '/get_ten_best_daily_tales',
			data: {
				timezone_offset: (new Date()).getTimezoneOffset()
			},
			datatype: 'json',
			success: function(data) {
				$top_tales.find('div').remove();
				$top_tales.append(data);
			},
			error: function(xhr, status, error) {
				console.log(xhr);
			}
		});
	});

	$top_today.trigger('click');
});
</script>

{% endblock %}