<!doctype html>
<html lang="{{language}}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="alternate" href="https://www.anaddventure.com" hreflang="en">
		<link rel="alternate" href="https://pt.anaddventure.com" hreflang="pt">
		<link rel="shortcut icon" href="{{url_for('.static', filename = 'img/favicon2.ico')}}">
		<link rel="stylesheet" type="text/css" href="{{url_for('.static', filename = 'Semantic-UI-1.8.1/dist/semantic.min.css')}}">
		<style>
		@media only screen and (max-width: 1000px) {
			#wider {
				width: 100% !important;
			}
			#disappear, .disappear {
				display: none !important;
			}
		}

		@media only screen and (max-width: 420px) {
			#first-header.ui.stackable.three.column.grid {
				display: none !important;
			}
		}

		@media only screen and (min-width: 421px) {
			#second-header {
				display: none !important;
			}
		}
		</style>
		{% if conf_production == true %}
			<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		{% else %}
			<script src="{{url_for('.static', filename = 'js/jquery-2.1.1.min.js')}}"></script>
		{% endif %}
	</head>
	<body>
		<input type="hidden" name="selected-language" value="{{language}}">
		<input type="hidden" name="timezone-offset" value="{{timezone_offset}}">
		<header id="first-header" class="ui stackable three column grid">
			<h1 class="column">
				<a href="/">
					<img src="{{url_for('.static', filename = 'img/logo.png')}}" alt="avatar picture" title="Avatar Picture" class="ui centered image" style="width: 250px;">
				</a>
			</h1>

			<div class="ui header column" id="layout-search-bar">
				<form action="/search_tales" method="get" class="ui form">
					<div class="ui fluid icon input">
						<input type="text" name="c" placeholder="{{_('SEARCH')}}...">
						<i class="search icon"></i>
					</div>
				</form>
			</div>

			<div class="ui header column center aligned">
				{% if user_is_logged == true %}
					<a href="/profile/{{user_logged_username}}" class="ui button">
						<i class="user icon"></i>
						{{_('MY_PROFILE')}}
					</a>
					<a href="/logout" class="ui button">
						<i class="sign out icon"></i>
						{{_('LOGOUT')}}
					</a>
				{% else %}
					<a href="/join" class="ui button">
						<i class="sign in icon"></i>
						{{_('LOGIN')}} / {{_('SIGN_UP')}}
					</a>
				{% endif %}
			</div>
		</header>

		<header id="second-header">
			<h1>
				<div class="ui compact menu black inverted">
					<div class="ui simple dropdown item">
						<i class="sidebar icon"></i>
						<div class="ui black inverted segment menu">
							<div class="item">
								<div class="ui header" id="layout-search-bar">
									<form action="/search_tales" method="get" class="ui form">
										<div class="ui fluid icon input">
											<input type="text" name="c" placeholder="{{_('SEARCH')}}...">
											<i class="search icon"></i>
										</div>
									</form>
								</div>
							</div>

							<div class="item">
								<div class="ui header center aligned">
									{% if user_is_logged == true %}
										<a href="/profile/{{user_logged_username}}" class="ui button">
											<i class="user icon"></i>
											{{_('MY_PROFILE')}}
										</a>
										<a href="/logout" class="ui button">
											<i class="sign out icon"></i>
											{{_('LOGOUT')}}
										</a>
									{% else %}
										<a href="/join" class="ui button">
											<i class="sign in icon"></i>
											{{_('LOGIN')}} / {{_('SIGN_UP')}}
										</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>

				<a href="/">
					<img src="{{url_for('.static', filename = 'img/logo.png')}}" alt="avatar picture" title="Avatar Picture" class="ui centered image" style="width: 250px; display: inline-block;">
				</a>
			</h1>
		</header>

		<div class="ui segment center aligned">
			<div class="ui centered grid">
				{% block site_header %}{% endblock %}
				<div class="thirteen wide column" id="wider">
					{% block content %}{% endblock %}
				</div>
			</div>

			<footer class="ui grid center aligned">
				<div class="doubling six column row">
					<span class="column">
						<a href="https://github.com/tayllan">Copyright &copy; 2015 Tayllan Búrigo</a>
					</span>
					<span class="column">
						<a href="/faq">FAQ</a>
					</span>
					<span class="column">
						<a href="/contact">{{_('CONTACT')}}</a>
					</span>
					<span class="column">
						<a href="/about">{{_('ABOUT')}}</a>
					</span>

					{% if language == 'en' %}
						<span class="column">
							<img src="{{url_for('.static', filename = 'img/us.png')}}">
							<strong>English</strong>
						</span>
						<span class="column">
							<img src="{{url_for('.static', filename = 'img/br.png')}}">
							<a href="{{language_url}}">Portuguese</a>
						</span>
					{% else %}
						<span class="column">
							<img src="{{url_for('.static', filename = 'img/us.png')}}">
							<a href="{{language_url}}">Inglês</a>
						</span>
						<span class="column">
							<img src="{{url_for('.static', filename = 'img/br.png')}}">
							<strong>Português</strong>
						</span>
					{% endif %}
				</div>
			</footer>
		</div>

		{% if conf_production == true %}
			<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/components/form.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/components/modal.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/components/dimmer.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.8.1/components/transition.min.js"></script>
			<script src="{{url_for('.static', filename = 'js/main.min.js')}}"></script>
		{% else %}
			<script src="{{url_for('.static', filename = 'Semantic-UI-1.8.1/dist/components/form.min.js')}}"></script>
			<script src="{{url_for('.static', filename = 'Semantic-UI-1.8.1/dist/components/modal.min.js')}}"></script>
			<script src="{{url_for('.static', filename = 'Semantic-UI-1.8.1/dist/components/dimmer.min.js')}}"></script>
			<script src="{{url_for('.static', filename = 'Semantic-UI-1.8.1/dist/components/transition.min.js')}}"></script>
			<script src="{{url_for('.static', filename = 'js/main.js')}}"></script>
		{% endif %}
	</body>
</html>