<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'Semantic-UI-1.8.1/dist/semantic.min.css')}}">
		{% block css %}{% endblock %}
		<script src="{{url_for('static', filename = 'js/jquery-2.1.1.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'Semantic-UI-1.8.1/dist/form.min.js')}}"></script>
		<script src="{{url_for('static', filename = 'js/main.js')}}"></script>
	</head>
	<body>
		<span hidden id="selected-language">{{language}}</span>
		<header class="ui four column grid">
			<div class="one wide column"></div>

			<div class="four wide column">
				<h1 class="ui header">
					<a href="/">{{_('SITE_LOGO')}}</a>
				</h1>
			</div>

			<div class="six wide column ui header" id="layout-search-bar">
				<form action="/search" method="get" class="ui form">
					<div class="ui fluid icon input">
						<input type="text" name="content" placeholder="{{_('TALE_AND_OR_USER')}}">
						<i class="search icon"></i>
					</div>
				</form>
			</div>

			<div class="five wide column ui header">
				<div class="ui two column grid">
					<div class="ten wide column">
						{% if user_is_logged == true %}
							<a href="/profile/{{user_logged_username}}" class="ui button">
								<i class="user icon"></i>
								{{_('MY_PROFILE')}}
							</a>
							<a href="/logout" class="ui button">
								<i class="sign out icon"></i>
								{{_('LOGOUT')}}
							</a>
						{% else %}
							<a href="/join" class="ui button">
								<i class="sign in icon"></i>
								{{_('LOGIN')}}
								/
								{{_('SIGN_UP')}}
							</a>
						{% endif %}
					</div>
					<div class="four wide column">
						{% if language == 'en' %}
							<span><strong>English</strong></span>
							<a href="" id="language-pt">Portuguese</a>
						{% else %}
							<a href="" id="language-en">Inglês</a>
							<span><strong>Português</strong></span>
						{% endif %}
					</div>
				</div>
			</div>
		</header>

		<div class="ui segment center aligned">
			<div class="ui centered grid">
				{% block site_header %}{% endblock %}
				<div class="thirteen wide column">
					{% block content %}{% endblock %}
				</div>
			</div>

			<div class="ui divider"></div>

			<footer>
				<span>
					<a href="https://github.com/tayllan">&copy; 2015 Tayllan Búrigo</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				<span>
					<a href="/faq">FAQ</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				<span>
					<a href="/terms">{{_('TERMS')}}</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				<span>
					<a href="/privacy">{{_('PRIVACY')}}</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				<span>
					<a href="/contact">{{_('CONTACT')}}</a>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				<span>
					<a href="/about">{{_('ABOUT')}}</a>
				</span>
			</footer>
		</div>
	</body>
</html>