{% extends "layout.html" %}

{% block title %}
	{{_('FORGOT_PASSWORD')|title}}&#63; - {{_('SITE_LOGO')}}
{% endblock %}

{% block content %}
<div class="password-reset ui stackable three column grid form">
	<div class="column"></div>

	<form action="/password_reset/" method="post" class="column">
		<h1 class="ui dividing header">{{_('FORGOT_PASSWORD')|title}}</h1>

		<div class="required field">
			<label>Email</label>

			<div class="ui left icon input">
				<input type="text" name="password-reset-email" placeholder="{{_('ENTER_EMAIL')}}">
				<i class="mail icon"></i>
			</div>
		</div>

		<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
		<button type="submit" name="password-reset-submit" class="ui button">
			{{_('SUBMIT')}}
		</button>
	</form>

	<div class="column"></div>
</div>

<script>
$(document).ready(function() {
	var $password_reset_form = $('.password-reset form');

	$password_reset_form.form({
		email: {
			identifier: 'password-reset-email',
			rules: my_rules.email
		}
	},
	{
		inline: true,
		onSuccess: function() {
			$.ajax({
				type: this.method,
				url: this.action,
				data: new FormData(this),
				processData: false,
				contentType: false,
				success: function(data) {
					append_messages_list([data.message], $password_reset_form.find('h1'), true);
				},
				error: function(xhr, status, error) {
					append_messages_list(xhr.responseJSON.error_list, $password_reset_form.find('h1'));
				}
			});

			return false;
		}
	});
});
</script>

{% endblock %}