{% extends "layout.html" %}

{% block title %}
	{{creator.username}}/{{tale.title}}
{% endblock %}

{% block content %}

{% include "fragment/tale_upper_bar.html" %}

<div class="ui divider"></div>

<div class="main">
	<div class="ui stackable two column grid">
		<div class="thirteen wide column justified">
			<p class="ui segment">{{tale.description}}</p>

			<div class="options-bar ui stackable three column grid">
				<p class="column">
					<i class="wait icon"></i>
					<a href="/contributions/{{tale.id}}">
						{{_('CONTRIBUTIONS')|capitalize}}
					</a>
				</p>

				<p class="column">
					<i class="fork icon"></i>
					<a href="/branches/{{tale.id}}">
						{{_('CHAPTERS')}}
					</a>
				</p>

				<p class="column">
					<i class="users icon"></i>
					<a href="/contributors/{{tale.id}}">
						{{_('WRITERS')}}
					</a>
				</p>
			</div>

			<div class="ui divider"></div>

			<div class="chapter">
				{% if tale.chapter is not none %}
					<div class="ui stackable two column grid">
						<div class="six wide column">
							<h5>
								{{_('CHAPTER')}} {{tale.chapter.number}}
								-
								{{tale.chapter.datetime}} {{_('BY')}}
								<a href="/profile/{{tale.chapter.contributor_username}}">
									{{tale.chapter.contributor_username}}
								</a>
							</h5>
						</div>

						<div class="ten wide column">
							<div class="ui stackable two column grid">
								<div class="column">
									<form action="/download_chapter/{{tale.chapter.id}}/" method="post">
										<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
										<button type="submit" class="ui small button"><i class="download icon"></i>{{_('DOWNLOAD_CHAPTER')}} {{tale.chapter.downloads}}</button>
									</form>
								</div>

								<div class="column">
									<form action="/download_all/{{tale.chapter.id}}/" method="post">
										<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
										<button type="submit" class="ui small button"><i class="download icon"></i>{{_('DOWNLOAD_ALL')}}</button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="ui modal" id="fullscreen">
						{% if tale.chapter.previous_chapter_id != -1 %}
							<p class="ui segment">
								<a href="/tale/{{tale.id}}/{{tale.chapter.previous_chapter_id}}/fullscreen">
									<i class="reply icon"></i>
									{{_('PREVIOUS_CHAPTER')}}
								</a>
							</p>
						{% endif %}

						<h1 class="ui header center aligned">
							{{tale.chapter.title}}
						</h1>

						{% autoescape false %}
							{{tale.chapter.content}}
						{% endautoescape %}

						<div class="ui divider"></div>

						<div>
							{% for next_chapter in tale.chapter.next_chapters %}
								<p>
									<a href="/tale/{{tale.id}}/{{next_chapter.id}}/fullscreen"><i class="arrow circle outline right icon"></i>{{next_chapter.title}}</a>
								</p>
							{% endfor %}

							<p class="ui green label">
								<a href="/contribute/{{tale.id}}/{{tale.chapter.id}}">
									{{_('CONTINUE_CHAPTER')}}
								</a>
							</p>
						</div>
					</div>

					<div class="ui segment">
						{% if tale.chapter.previous_chapter_id != -1 %}
							<a href="/tale/{{tale.id}}/{{tale.chapter.previous_chapter_id}}">
								<i class="reply icon"></i>
								{{_('PREVIOUS_CHAPTER')}}
							</a>
						{% endif %}

						<h1 class="ui header center aligned">
							{{tale.chapter.title}}
							<a class="ui green tag label" id="to-fullscreen">{{_('FULLSCREEN')}}</a>
						</h1>

						{% autoescape false %}
							{{tale.chapter.content}}
						{% endautoescape %}

						<div class="ui divider"></div>

						<div>
							{% for next_chapter in tale.chapter.next_chapters %}
								<p>
									<a href="/tale/{{tale.id}}/{{next_chapter.id}}"><i class="arrow circle outline right icon"></i>{{next_chapter.title}}</a>
								</p>
							{% endfor %}

							<p class="ui green label">
								<a href="/contribute/{{tale.id}}/{{tale.chapter.id}}">
									{{_('CONTINUE_CHAPTER')}}
								</a>
							</p>
						</div>
					</div>
				{% else %}
					{% if user_logged_id == creator.id %}
						<h2>
							{{creator.username}}, {{_('ADD_FIRST_CHAPTER')}}
							<a href="/contribute/{{tale.id}}/0">
								{{_('HERE')}}.
							</a>
						</h2>
					{% else %}
						<h2>
							{{_('NO_CHAPTER')}}
						</h2>
					{% endif %}
				{% endif %}
			</div>
		</div>

		<div class="three wide column">
			<div class="ui segment">
				{% include "fragment/tale_right_bar.html" %}
			</div>
		</div>
	</div>
</div>

{% endblock %}