{% extends "layout.html" %}

{% block title %}
	{{_('UPDATE_CHAPTER')}}
{% endblock %}

{% block content %}

<form action="/update_chapter/{{chapter.id}}/" method="post" class="update-chapter-form ui form">
	<h1 class="ui dividing header">
		<i class="write icon"></i>
		{{_('UPDATE_CHAPTER')}}
	</h1>

	<div class="required field">
		<label>{{_('TITLE')}}</label>
		<input type="text" name="update-chapter-title" value="{{chapter.title}}">
	</div>

	<div class="field">
		<textarea name="update-chapter-content">{{chapter.content}}</textarea>
	</div>

	<input type="hidden" name="_csrf_token" value="{{_csrf_token()}}">
	<button type="submit" name="update-chapter-submit" class="ui green button">
		{{_('UPDATE')}}
	</button>
</form>

<script src="{{url_for('.static', filename = 'js/tinymce/tinymce.min.js')}}"></script>

{% endblock %}